* {padding: 0;margin: 0;border: 0; font-family: Arial,sans-serif;}
*,*::before,*::after{box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
html,body{height: 100%;font-size: 100%;line-height: 1;font-size: 14px;}
input,button,textarea{font-family: Arial,sans-serif;}
button{cursor: pointer;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;} 

body {
   height: 1vh;
   background-image: url(https://img5.goodfon.ru/wallpaper/nbig/5/b7/osen-listia-fon-colorful-klen-wood-autumn-leaves-cup-noteboo.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}

.container {
   position: relative;
   margin: 60px auto 80px auto;
   padding: 20px;
   font-size: 18px;
   color: #2c3e50;
   width: 60%;
   border-radius: 5px;
   background-color: rgb(247, 247, 247);
}

/* Socials icons */
.share-container {
   position: fixed;
   display: flex;
   flex-direction: column;
   top: 25%;
}

.share-btn {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 9px;
   border-radius: 0 15px 15px 0;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   background: rgb(241, 241, 241);
}

.share-btn a i {
   font-size: 32px;
}

.share-btn a {
   margin: 10px 0;
   transition: .5s;
}

.share-btn a:hover {
   transform: scale(1.15);
}

.share-icon {
   color: #08369b;
}

.fa-facebook {
   color: #3b5998;
}

.fa-twitter {
   color: #1da1f2;
}

.fa-whatsapp {
   color: #25d366;
}

.fa-linkedin {
   color: #0077b5;
}

.fa-telegram {
   color: #0088cc;
}

h2 {
   display: block;
   text-align: center;
   font-size: 1.5em;
   margin-block-start: 0.83em;
   margin-block-end: 0.83em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
}

.message {
   padding: 20px;
   display: grid;
   justify-items: center;
   align-items: center;
   line-height: 30px;
   color: grey;
   font-weight: 700;
}

/* Input, task */
.task {
   display: grid;
   grid-template-columns: 40px auto 30px;
   grid-gap: 15px;
   justify-items: baseline;
   align-items: center;
   margin-bottom: 20px;
   
}

.task a {
   width: 25px;
   height: 25px;
   border: 1px solid #7fffd4;
   border-radius: 50%;
   cursor: pointer;
}

.task a:hover {
   background: #7fffd450;
   transition: all 0.3s ease;
}

.task.checked {
   text-decoration: line-through;
}

.task.checked a {
   background: #7fffd4;
   border: 1px solid #6cdcb6;
}

.close-image img {
   display: block;
   height: 20px;  
   width: 19px;
   background-color: rgb(247, 247, 247);
   pointer-events: none;
}

.add-task {
   display: grid;
   grid-template-columns: auto 120px;
}

.new-task {
   width: calc(100% - 70px);
   font-size: 18px;
   margin-left: 55px;
   padding: 1px 5px;
   border: none;
   border-bottom: 1px dashed #d3d3d3;
   color: rgb(182, 182, 182);
   background-color: rgb(247, 247, 247);
}

.todo-button {
   width: 100%;
   padding: 3px;
   font-size: 18px;
   border-radius: 5px;
   border: 1px solid #7fffd4;
   color: rgb(134, 134, 134);
   background-color: rgb(247, 247, 247);
}

.todo-button:hover {
   background: #7fffd450;
   color: #2c3e50;
   transition: all 0.2s ease;
}

/* Summary */
.summary {
   display: grid;
   grid-template-columns: auto max-content;
   grid-gap: 10px;
   margin: 20px 0;
}

.hr {
   border: none;
   border-bottom: 1px solid #d3d3d3;
}

.status {
   font-size: 14px;
}

.red {
   color: red;
}

.orange {
   color: rgb(255, 174, 0);
}

.green {
   color: rgb(0, 216, 0);
}

/* Modal window */
.delete-modal-overlay {
   background: rgba(0, 0, 0, 0.35);
   z-index: 100;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

.delete-modal {
   position: absolute;
   border: 1px solid #d3d3d3;
   border-radius: 5px;
   background: #fff;
   padding: 30px;
   display: grid;
   grid-template-rows: auto min-content;
   -webkit-box-shadow: 0 0 1px 2px #eee;
   box-shadow: 0 0 1px 2px #eee;
   left: 22%;
   right: 22%;
   top: 37%;
   z-index: 101;
}

.display-none {
   display: none;
}

.buttons {
   margin-top: 20px;
   display: grid;
   grid-template-columns: min-content min-content;
   grid-gap: 20px;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.buttons button {
   padding: 5px;
   border: 1px solid #d3d3d3;
   border-radius: 2px;
   min-width: 50px;
   font-size: 16px;
   cursor: pointer;
}

/* Footer */
footer {
   position: fixed;
   bottom: 10px;
   right: 10px;
}

footer,
footer a{
   color: #fff;
   font-size: 12px;
}

.block {
   display: none;
}


/* Mobile */
@media (max-width: 500px) {
   .container {
      width: 85%;
      font-size: 16px;
      /* margin-top: 150px; */
      margin-bottom: 110px;
      border-radius: 12px;
   }

   .share-container {
      width: 100%;
      top: inherit;
      bottom: 0;
      z-index: 103;
   }
   
   .share-btn {
      flex-direction: row;
      padding: 9px 15px 15px 15px;
      border-radius: 15px 15px 0 0;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      z-index: 104;
   }
   
   h2 {
      margin-block-start: 0.5em;
      margin-block-end: 0.2em;
   }
   
   .message {
      padding: 10px 0 15px 0;
   }
   
   /* Input, task */
   .task {
      display: grid;
      grid-template-columns: 30px auto 23px;
      grid-gap: 10px;
      margin-bottom: 15px;
   }
   
   .task a {
      width: 23px;
      height: 23px;
   }

   .add-task {
      display: grid;
      grid-template-columns: auto 60px;
   }
   
   .new-task {
      width: calc(100% - 10px);
      font-size: 16px;
      margin-left: 0;
   }
   
   .todo-button {
      font-size: 15px;
      border-radius: 7px;
      background: #7fffd49d;
      color:rgb(102, 102, 102);
   }

   .status {
      font-size: 13px;
   }

   .delete-modal {
      left: 10%;
      right: 10%;
      top: 25%;
      font-size: 14px;
      line-height: 1.5;
   }

   footer {
      position: relative;
   }

   .copyright {
      position: fixed;
      bottom: 5px;
      right: 38%;
      z-index: 107;
   }

   .copyright,
   .copyright a {
      color: rgb(0, 0, 0);
      font-size: 12px;
   }

   .block {
      display: block;
   }
}